.header-background {
  background-color: white;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.header-background .header-link {
  color: rgb(22, 82, 240);
}

.header-background .nav-list > ul > li {
  color: black;
}