.portfolio-ra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 310px;
  margin: 12px 12px 12px 0;
  box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
  flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff1;
  border-image: initial;
  border-radius: 4px;
  max-width: 49%;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 54px;
  padding: 0 24px;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.portfolio-header > h2 {
  line-height: 1.3;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.portfolio-list-chart {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.portfolio-list-chart > span {
  margin-right: 16px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(17,51,83,0.6);
}