.ra-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 310px;
  margin: 12px 0px 12px 12px;
  box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
  flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff1;
  border-image: initial;
  border-radius: 4px;
}

.ra-data {
  width: 100%;
}

.ra-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 54px;
  padding: 0 24px;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.ra-header > h2 {
  line-height: 1.3;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.ra-data-table tr{
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.ra-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 34px;
  margin: 5px 20px 0 0;
  text-align: center;
}

.ra-date > span:first-child {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  color: rgba(17, 51, 83, 0.6);
}

.ra-date > span:nth-child(2) {
  color: black;
    font-size: 18px;
    font-weight: 200;
}

.ra-img{
  width: 42px;
  height: 42px;
  margin-right: 20px;
}

.ra-type {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  flex: 1 1 auto;
}

.ra-type > span {
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.ra-type > p {
  font-size: 14px;
  font-weight: 200;
  color: rgba(17, 51, 83, 0.6);
  overflow: hidden;
  margin: 0px;
}

.ra-usd-value {
  font-size: 14px;
  font-weight: 200;
  color: rgba(17, 51, 83, 0.6);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12px;
}

.ra-usd-value >  span {
  color: rgb(5, 15, 25);
  font-size: 18px;
  font-weight: 400;
}

.ra-usd-value >  p {
  margin: 0px;
}
