.asset-table-wrap {
  flex-direction: row;
  width: 100%;
  max-width: 1180px;
  flex-shrink: 0;
  display: flex;
  box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
  margin: -175px auto 0px;
  padding: 0px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(236, 239, 241);
  border-image: initial;
}

.asset-table {
  width: 100%;
  border-collapse: separate;
  padding: 0px;
  background: rgb(255, 255, 255);
  border-spacing: 0px;
}

.at-head {
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.at-row {
  border: 5px solid black;
}

.at-body a{
  text-decoration: none;
}

.at-row th {
  text-align: left;
  padding: 16px 16px 16px 0;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(17, 51, 83, 0.6);
}

.at-row th:first-child {
  padding-left: 32px;
}

.at-body {
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: opacity 300ms ease 0s;
}

.at-body img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.at-body > a > tr{
  font-size: 18px;
  user-select: none;
  padding: 28px 36px;
  background: rgb(255, 255, 255);
}

.at-body > a > tr:hover{
  background: rgb(238, 240, 243);
}

.at-body > a > tr > td {
  cursor: pointer;
  border-top: 1px solid rgb(236, 239, 241);
  padding: 14px 48px 14px 0px;
  align-items: center;
  color: black;
}

.at-deets {
  display: flex;
  flex-direction: row;
}

.at-body h4 {
  line-height: 1.3;
  color: rgba(17, 51, 83, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 16px;
}

.at-body > a > tr > td:first-child {
  padding-left: 32px;
}

.at-body button {
  position: relative;
  width: auto;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(5, 177, 105);
  margin: 0px;
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  padding: 12px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(5, 177, 105);
  border-image: initial;
}

.at-body button:hover {
  background-color: #019662;
  border-color: #019662;
}