.features-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1180px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 24px;
}

.features-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
  flex: 1 1 auto;
}

.features-box h1 {
  font-size: 40px;
  font-weight: 500;
  color: rgb(15, 50,86);
  text-align: center;
  margin-bottom: 10px;
}

.features-box p {
  color: rgb(144, 161, 184);
  text-align: center;
  font-weight: 200;
}

.pic-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 60px;
  justify-content: space-between;
}

.feature-pic{
  padding: 10px;
}

.feature-pic picture img {
  max-width: 700px;
}

.feature-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-right: 20px;
}

.feature-info > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.feature-info img {
  width: 72px;
  height: 72px;
  margin-right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-info h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
}

.feature-info p {
  margin: 0px;
  line-height: 1.6;
  text-align: left;
}
