/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    background-color: #0667d0;
}

body, html {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0px
}
div > header {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 55px;
  align-items: center;
  background-color: #0667d0;
}

.login-signup {
  position: relative;
  right: 5px;
}

.login-signup a {
  padding-right: 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.get-started-btn {
  position: relative;
  width: auto;
  color: white;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  margin: 0px;
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}

.header-link {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 20px 0 20px;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.nav-list{
  padding-right: 300px;
}
.nav-list ul {
  display: flex;
  list-style-type: none;
}

.nav-list ul li {
  display: flex;
  list-style-type: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 20px;
}

.session-form-container {
  display: flex;
  justify-content: center;
  background-color: #0667d0;
 }

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.session-form h2 {
  margin-bottom: 40px;
  height: 34px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.13;
  text-align: center;
  color: #fff;
}

.session-form-box{
  border-radius: 0;
}
.box-form {
  background: white;
  padding: 32px 24px;
  box-shadow: 0 1px 46px -4px rgba(0,0,0,.28);
}

.session-input {
  margin-bottom: 10px;
}


